<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.mcarmanize.esfriend_agent</string>
		<key>WorkingDirectory</key>
		<string>/Users/johnsouls/Desktop/agent</string>
		<key>StandardOutPath</key>
		<string>/Users/johnsouls/Desktop/agent/agent_output.txt</string>
		<key>StandardErrorPath</key>
		<string>/Users/johnsouls/Desktop/agent/agent_output.txt</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Library/Frameworks/Python.framework/Versions/3.9/bin/python3</string>
			<string>./agent.py</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
		<key>KeepAlive</key>
		<true/>
	</dict>
</plist>